<!DOCTYPE html>
<html>
    <head>
        <title>Get weather !</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
        <link rel="stylesheet" href="/result.css">
        <link rel="stylesheet" href="/icon.css">
    </head>
    <body>
    <form action="/results" method="GET" id="input-form">
        <input type="text" name="name" placeholder="City" id="input-text"><br>
        <button type="button" class="btn btn-primary">Get weather !</button>
    </form>
        
    